@using System.Web.Optimization
@using Dscf.PostLoanGlobal;

@model Dscf.PostLoan.Model.CarClaimsInfoTotal
@{
    ViewBag.Title = "扣";
}
<div class="g-mn1c tb">
    <div class="m-shrink info">
        <h3 class="title f-sub">
            &nbsp; &nbsp;  结算划扣（扣）
        </h3>
        <table class="table table-bordered ">
            <thead>
                <tr>

                    <th>操作人</th>
                    <th>签署地</th>
                    <th>姓名</th>
                    <th>首逾日期</th>
                    <th>累计逾期天数</th>
                    <th>累计逾期次数</th>
                    <th>累计逾期本息</th>
                    <th>累计违约金</th>
                    <th>累计罚息</th>
                    <th>待还款总额</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.CollectorName</td>
                    <td>@Model.SignCity</td>
                    <td>@Model.UserName</td>
                    <td>@(Model.FirstOverdueTime.HasValue ? Model.FirstOverdueTime.Value.ToLongDateString().ToString() : string.Empty)</td>
                    <td>@Model.OverdueTimeCount</td>
                    <td>@Model.OverdueCount</td>
                    <td>@(Model.OverduePrincipalSum)元</td>
                    <td>@(Model.OverduePenaltySum)元</td>
                    <td>@(Model.DailyPenaltySum)元</td>
                    <td><span id="sumOverdue">@(Model.OverduePrincipalSum + Model.OverduePenaltySum + Model.DailyPenaltySum)</span>元</td>
                </tr>
            </tbody>

        </table>

        <table class="table table-bordered f-hide" id="loanDetail">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>划扣日期</th>
                    <th>逾期天数</th>
                    <th>月还金额</th>
                    <th>违约金</th>
                    <th>罚息</th>
                    <th>已还金额</th>
                    <th>还款标识</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var claims in Model.ClaimsInfoList)
                {
                    <tr>
                        <td>@Model.UserName</td>
                        <td>@(claims.RepayDate.HasValue ? claims.RepayDate.Value.ToLongDateString().ToString() : string.Empty)</td>
                        <td>@(claims.OverdueDayCount)天</td>
                        <td>@(claims.MonthRepay)元</td>
                        <td>@(claims.OverduePenalty)元</td>
                        <td>@(claims.DailyPenaltySumPerPeriod)元</td>
                        <td>@(claims.DeductAmountSumPerPeriod)元</td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="drawback">
            <p class="tip" onclick="actionDetail(this)">
                <span>点击查看更多</span>
                <i class="down"></i>
            </p>
        </div>

        @{ if (ViewBag.DeductPayApplyAndFile != null)
         {
            <div class="detail">
                <p>
                    <label>本次减免金额：</label>
                    <span>@(ViewBag.DeductPayApplyAndFile.ReliefAmount)元</span>
                </p>

                <p>
                    <label>本次划扣金额：</label>
                    <span>
                        @(ViewBag.DeductPayApplyAndFile.RepayAmount)元
                    </span>
                </p>
                <div id="layer-photos" class="layer-photos-demo">
                    <img layer-src="@ViewBag.DeductPayApplyAndFile.FileEntity.FilePath/@ViewBag.DeductPayApplyAndFile.FileEntity.SaveFileName@ViewBag.DeductPayApplyAndFile.FileEntity.FileSuffix"
                         src="@ViewBag.DeductPayApplyAndFile.FileEntity.ThumbPath/@ViewBag.DeductPayApplyAndFile.FileEntity.SaveFileName@ViewBag.DeductPayApplyAndFile.FileEntity.FileSuffix"
                         alt="@ViewBag.FileName" layer-index="0" />
                </div>
                @if (ViewBag.DeductPayApplyAndFile.FileEntity.Remark != null)
                {
                    <p>
                        <label>照片备注：</label>
                        <span>
                            @ViewBag.DeductPayApplyAndFile.FileEntity.Remark
                        </span>
                    </p>}
            </div>

         }
        }
    </div>
</div>
<p class="btn-nav" style="margin-top: 30px;">
    @{if (ViewBag.PayWay == DeductPayUtil.DeductApply)
    {
        <button class="u-b-base u-b-exprot s-b-blue u-b-spild1" onclick="pass()">扣款</button>
        <button class="u-b-base u-b-exprot s-b-red u-b-spild1" onclick="reject()">驳回</button>
    }
    else if (ViewBag.PayWay == DeductPayUtil.PayOffline || ViewBag.PayWay == DeductPayUtil.CarDisposal)
    {
        <button class="u-b-base u-b-exprot s-b-blue u-b-spild1" onclick="passTwo()">确认已到账 </button>
        <button class="u-b-base u-b-exprot s-b-red u-b-spild1" onclick="rejectTwo()">驳回</button>
    }
    }

    <button class="u-b-base u-b-exprot s-b-gray u-b-spild1" onclick="window.location = '/Deduction/CarDeductionList?css=2063'">取消</button>
</p>

<div id="addReason" class="f-hide alert">
    <form id="reasonForm">
        <p class="height">
            <label>拒绝原因：</label>
            <textarea id="reasonContent" name="reasonContent" class="form-control  height"></textarea>
        </p>
    </form>
</div>
@section scripts
{
    @Scripts.Render("~/bundles/validator")

    <script>
        function passTwo() {

            new Alert().AlertInfo({
                content: "确定已入账吗？",
                callBack: function () {
                    var params = {};
                    params.OrderId = $.url.getQueryString("orderId");
                    params.OrderType = @LoanOrderUtil.CarTypeKey
                    params.Status = @DeductPayUtil.SuccessfulDebit
                    params.DeductMoney = @ViewBag.DeductPayApplyAndFile.RepayAmount
                    params.DeductType =@DeductPayUtil.PayOffline
                    params.DeductKind =@DeductPayUtil.HandDeduct
                    params.ApplyId = $.url.getQueryString("applyId");
                    $.ajax({
                        url: "/Deduction/UpdateApplyStatusByKey",
                        method: "post",
                        async: true,
                        dataType: "json",
                        data: params,
                        success: function (result) {

                            if (result.ReturnType == false) {
                                new Alert().AlertInfo({
                                    content: result.ReturnMsg,
                                    iClass: 'error'
                                })
                            }
                            else {
                                window.location = "/Deduction/CarDeductionList?css=2063";
                                return;
                            }
                        }
                    });
                }
            });
        }
        function pass() {

            new Alert().AlertInfo({
                content: "确定扣款？",
                callBack: function () {
                    var params = {};
                    params.OrderId = $.url.getQueryString("orderId");
                    params.OrderType = @LoanOrderUtil.CarTypeKey
                    params.Status = @DeductPayUtil.DeductPending
                    params.DeductMoney = @ViewBag.DeductPayApplyAndFile.RepayAmount
                    params.DeductType =@DeductPayUtil.DeductApply
                    params.DeductKind =@DeductPayUtil.HandDeduct
                    params.ApplyId = $.url.getQueryString("applyId");
                    params.PayType = 1
                    $.ajax({
                        url: "/Deduction/UpdateApplyStatusByKey",
                        method: "post",
                        async: true,
                        dataType: "json",
                        data: params,
                        success: function (result) {

                            if (result.ReturnType == false) {
                                new Alert().AlertInfo({
                                    content: result.ReturnMsg,
                                    iClass: 'error'
                                })
                            }
                            else {
                                window.location = "/Deduction/CarDeductionList?css=1055";
                                return;
                            }
                        }
                    });
                }
            });
        }
        function reject() {

            new Alert().AlertInfo({
                content: "#addReason",
                width: "450",
                height: "280",
                callBack: function () {
                    if (!validator.form()) {
                        return false
                    }
                    var params = {};
                    params.OrderId = $.url.getQueryString("orderId");
                    params.OrderType = @LoanOrderUtil.CarTypeKey
                    params.Status = @DeductPayUtil.RejectDebit
                    params.DeductMoney = @ViewBag.DeductPayApplyAndFile.RepayAmount
                    params.DeductType =@DeductPayUtil.DeductApply
                    params.DeductKind =@DeductPayUtil.HandDeduct
                    params.Reason = $("#reasonContent").val();

                    $.ajax({
                        url: "/Deduction/UpdateApplyStatusByKey",
                        method: "post",
                        async: true,
                        dataType: "json",
                        data: params,
                        success: function (result) {
                            if (result.ReturnType == false) {
                                new Alert().AlertInfo({
                                    content: result.ReturnMsg,
                                    iClass: 'error'
                                })
                            }
                            else {
                                window.location = "/Deduction/CarDeductionList?css=2063";
                                return;
                            }
                        }
                    });
                }
            });
        }
        function rejectTwo() {

            new Alert().AlertInfo({
                content: "#addReason",
                width: "450",
                height: "280",
                callBack: function () {
                    if (!validator.form()) {
                        return false
                    }
                    var params = {};
                    params.OrderId = $.url.getQueryString("orderId");
                    params.OrderType = @LoanOrderUtil.CarTypeKey
                    params.Status = @DeductPayUtil.RejectDebit
                    params.DeductMoney = @ViewBag.DeductPayApplyAndFile.RepayAmount
                    params.DeductType =@DeductPayUtil.PayOffline
                    params.DeductKind =@DeductPayUtil.HandDeduct
                    params.Reason = $("#reasonContent").val();

                    $.ajax({
                        url: "/Deduction/UpdateApplyStatusByKey",
                        method: "post",
                        async: true,
                        dataType: "json",
                        data: params,
                        success: function (result) {
                            if (result.ReturnType == false) {
                                new Alert().AlertInfo({
                                    content: result.ReturnMsg,
                                    iClass: 'error'
                                })
                            }
                            else {
                                window.location = "/Deduction/CarDeductionList?css=2063";
                                return;
                            }
                        }
                    });
                }
            });
        }
        function validate() {
            validator = $("#reasonForm").validate({
                errorClass: "bug",
                errorElement: 'p',
                errorPlacement: function (error, element) {
                    error.appendTo(element.parent().parent());
                },
                rules: { "reasonContent": { required: true } },
                messages: {
                    "reasonContent": { required: "请填写拒绝原因！" },

                }
            }
        );
        }
        $(function () {
            //if ($(".detail").length>0) {
            //    $("#payApply").attr("disabled", true);
            //    $("#payOff").attr("disabled", true);
            //}
            validate();
            layer.photos({
                photos: '#layer-photos'
             , anim: 0
            });
        })
        function actionDetail(obj) {
            if ($(obj).find("i").attr("class") == "down") {
                $(obj).find("i").removeClass('down').addClass("up");
                $(obj).find("span").html("点击收起");
                $("#loanDetail").removeClass("f-hide");
            } else {
                $(obj).find("i").removeClass('up').addClass("down");
                $(obj).find("span").html("点击查看更多");
                $("#loanDetail").addClass("f-hide");
            }
        }</script>
}
