@using System.Web.Optimization

@model Dscf.Settlement.Model.PartialLoanInfoViewModel
<div class="m-shrink info">
    <h3 class="title f-sub" onclick="shrink(0)">
        <i class="z-subtraction"></i>借款信息
    </h3>
    <div class="cbody">
        <p>
            <label>姓名：</label>
            <span> @Model.Name</span>
        </p>
        <p>
            <label>身份证号：</label>
            <span> @Model.IDCard</span>
        </p>
        <p>
            <label>卡号：</label>
            <span> @Model.BankCard</span>
        </p>
        <p>
            <label>银行名称：</label>
            <span> @Model.BankName</span>
        </p>
        <p>
            <label>支行名称：</label>
            <span> @Model.SubBranchName</span>
        </p>
        <p>
            <label>产品类型：</label>
            <span> @Model.ProductName</span>
        </p>
        <p>
            <label>合同编号：</label>
            <span> @Model.Contract</span>
        </p>
        <p>
            <label>合同金额：</label>
            <span> @Model.Amount</span>
        </p>
        <p>
            <label>签约日期：</label>
            <span>
                @if (Model.SignDate != null)
                {
                    @Model.SignDate.Value.ToString("yyyy年MM月dd日")
                }
            </span>
        </p>
        <p>
            <label>合同是否终止：</label>
            <span> </span>
        </p>

    </div>
</div>